<a href="https://colab.research.google.com/github/nicole-kirimi/mini_tasks/blob/main/mini_lists.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 1. Create a list of your 8 foods and store it in a variable called foods.
# pizza cake banana kales pizza chicken beef
foods = ["pizza", "cake", "banana", "kales", "fish", "chicken", "beef", "pork"]

In [ ]:
# 1.1. Print the first and last item in the foods list.
print(foods[0])
print(foods[7])

pizza
pork

In [ ]:
# 1.2. Replace the third item in the list with another food.
foods[2] = "apple"
print(foods)

['pizza', 'cake', 'apple', 'kales', 'fish', 'chicken', 'beef', 'pork']

In [ ]:
# 1.3. Add a new food to the end of the list using .append().
foods.append("watermelon")
print(foods)

['pizza', 'cake', 'apple', 'kales', 'fish', 'chicken', 'beef', 'pork', 'watermelon']

In [ ]:
# 1.4. Remove one food from the list using .remove().
foods.remove("kales")
print(foods)

['pizza', 'cake', 'apple', 'fish', 'chicken', 'beef', 'pork', 'watermelon']

In [ ]:
# 1.5. Use a for loop to print each item in the list on a new line.
for food in foods:
    print(food)

pizza
cake
apple
fish
chicken
beef
pork
watermelon

In [ ]:
# 1.6. Use a loop to print only the foods that start with the letter "a".
for food in foods:
    if food.startswith("a"):
        print(food)

apple

In [ ]:
# 1.7. Count how many times "pizza" appears in the list.
pizza_count = foods.count("pizza")
print(pizza_count)

1

In [ ]:
# 1.8. Print the second to fourth items using slicing.
# Remember that slicing is getting a range of values using the square brackets and index
print(foods[1:4])

['cake', 'apple', 'fish']

In [ ]:
# 1.9. Print the list in reverse using slicing.
print(foods[::-1])

['watermelon', 'pork', 'beef', 'chicken', 'fish', 'apple', 'cake', 'pizza']

In [ ]:
# 2. Create a list of numbers: 5 2 9 1 7
numbers = [5, 2, 9, 1, 7]

In [ ]:
# 2.1 Use the following functions:
# sum() to calculate total
# max() to find the highest
# min() to find the smallest
sum_numbers = sum(numbers)
max_numbers = max(numbers)
min_numbers = min(numbers)
print(sum_numbers)
print(max_numbers)
print(min_numbers)

24
9
1

In [ ]:
# 2.2. Sort the list in ascending and descending order using .sort() and .reverse().
# In ascending order
numbers.sort()
print(numbers)

# In descending order
numbers.reverse()
print(numbers)

[1, 2, 5, 7, 9]
[9, 7, 5, 2, 1]

In [ ]:
# 2.3. Use .insert() to add the number 10 at index 2.
numbers.insert(2, 10)
print(numbers)

[9, 7, 10, 5, 2, 1]

In [ ]:
# 3. Create the nested list of students below and their scores:
# then print each student's name and score using a loop.
students = [["Alice", 85], ["Bob", 78], ["Charlie", 92]]
for student in students:
    print(student[0], student[1])

Alice 85
Bob 78
Charlie 92

In [ ]:
# 3.1. Find the student with the highest score.
highest_score = 0
highest_student = ""
for student in students:
    if student[1] > highest_score:
        highest_score = student[1]
        highest_student = student[0]
print(highest_student, highest_score)

Charlie 92

In [ ]:
# 4. Write a function that asks the user to enter 5 numbers and stores them in a list.
def get_five_numbers():
    numbers = []
    for i in range(5):
        while True:
            try:
                num = int(input(f"Enter integer number {i + 1}: "))
                numbers.append(num)
                break
            except ValueError:
                print("Invalid input. Please enter a whole number.")
    return numbers

# Example usage
user_numbers = get_five_numbers()
print("You entered:", user_numbers)

Enter integer number 1: 2
Enter integer number 2: 3
Enter integer number 3:
Invalid input. Please enter a whole number.
Enter integer number 3: 4
Enter integer number 4: 5
Enter integer number 5: 6
You entered: [2, 3, 4, 5, 6]

In [ ]:
# 4.1. Write a function that removes all even numbers from the list provided by the user.
def remove_even_numbers(numbers):
    return [num for num in numbers if num % 2 != 0]
remove_even_numbers(user_numbers)

[3, 5]

In [ ]:
# 5. Merge two lists:
list1 = [1, 2, 3]
list2 = [4, 5, 6]
merged = list1 + list2
print(merged)

[1, 2, 3, 4, 5, 6]

In [ ]:
# 6. Ask the user to input student names until they type "stop". Store all names in a list and print it at the end.
names = []
while True:
    name = input("Enter a student name (type 'stop' to finish): ")
    if name == "stop":
        break
    names.append(name)
print("Student names:", names)

Enter a student name (type 'stop' to finish): Nicole
Enter a student name (type 'stop' to finish): Hope
Enter a student name (type 'stop' to finish): Natasha
Enter a student name (type 'stop' to finish): stop
Student names: ['Nicole', 'Hope', 'Natasha']

In [ ]:
# 6.1. From the list of names, print only those that are longer than 5 characters.
for name in names:
    if len(name) > 5:
        print(name)

Nicole
Natasha