<a href="https://colab.research.google.com/github/nicole-kirimi/mini_tasks/blob/main/mini_loops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 1. Print numbers from 1 to 10
# Output:
# 1
# 2
# ...
# 10
for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
# 2. Print even numbers between 1 and 20
# Output:
# 2, 4, 6, ..., 20
for i in range(2, 21, 2):
    print(i)

2
4
6
8
10
12
14
16
18
20

In [ ]:
# 3. Print the square of numbers from 1 to 5
# Output:
# 1 4 9 16 25
for i in range(1, 6):
    print(i**2)

1
4
9
16
25

In [ ]:
# 4. Print each character in the word "Python"
# Output:
# P
# y
# t
# h
# o
# n
word = "Python"
for character in word:
    print(character)

P
y
t
h
o
n

In [ ]:
# 5. Loop through this list and print names:
names = ["Alice", "Bob", "Charlie"]
for name in names:
    print(name)

Alice
Bob
Charlie

In [ ]:
# 6. Print numbers from 5 to 1
# Output:
# 5
# 4
# 3
# 2
# 1
for i in range(5, 0, -1):
    print(i)

5
4
3
2
1

In [ ]:
# 7. Keep asking the user to enter a password until they type "secret"
# Output:
# Try again... until correct
password = input("Enter a password: ")
while password != "secret":
    print("Try again")
    password = input("Enter a password: ")
print("Access granted!")

Enter a password: rt
Try again...
Enter a password: secret
Access granted!

In [ ]:
# 8. Ask the user to enter numbers until they enter 0. Then print the sum.
# Input:
# 5
# 3
# 0
# Output:
# Total: 8
total = 0
number = int(input("Enter a number: "))
while number != 0:
    total += number
    number = int(input("Enter a number: "))
print("Total:", total)

Enter a number: 5
Enter a number: 3
Enter a number: 0
Total: 8

In [ ]:
# 9. Print all numbers from 1 to 20 that are divisible by 3
# Output:
# 3 6 9 12 15 18
for i in range(3, 21, 3):
    print(i)

3
6
9
12
15
18

In [ ]:
# 10. From this list, print only the odd numbers:
numbers = [4, 7, 10, 13, 16, 19]
odd_numbers = []
for number in numbers:
    if number % 2 != 0:
        odd_numbers.append(number)
print(odd_numbers)

[7, 13, 19]

In [ ]:
# 11. Count how many times "apple" appears in the list:
fruits = ["apple", "banana", "apple", "cherry", "apple"]
count = 0
for fruit in fruits:
    if fruit == "apple":
        count += 1
print("apple appears", count, "times")

apple appears 3 times

In [ ]:
# 12. Use a loop to reverse a string:
# Input:
# "hello"
# Output:
# "olleh"
word = "hello"
reversed_word = ""
for i in range(len(word)-1, -1, -1):
    reversed_word += word[i]
print(reversed_word)

olleh

In [ ]:
# 13. Print a simple triangle of stars:
# Output:
# *
# **
# ***
# ****
# *****
for i in range(1, 6):
    print("*" * i)

*
**
***
****
*****

In [ ]:
# 14. Use a loop to calculate the factorial of a number:
# Input:
# 5
# Output:
# 120
number = int(input("Enter a number: "))
factorial = 1
for i in range(1, number+1):
    factorial *= i
print(factorial)

Enter a number: 5
120

In [ ]:
#15. Loop from 1 to 100 and:
# Print "Hit" if divisible by 3
# Print "Miss" if divisible by 5
# Print "Jackpot" if divisible by both
for i in range(1, 101):
    if i % 3 == 0 and i % 5 == 0:
        print("Jackpot")
    elif i % 3 == 0:
        print("Hit")
    elif i % 5 == 0:
        print("Miss")
    else:
        print(i)

1
2
Hit
4
Miss
Hit
7
8
Hit
Miss
11
Hit
13
14
Jackpot
16
17
Hit
19
Miss
Hit
22
23
Hit
Miss
26
Hit
28
29
Jackpot
31
32
Hit
34
Miss
Hit
37
38
Hit
Miss
41
Hit
43
44
Jackpot
46
47
Hit
49
Miss
Hit
52
53
Hit
Miss
56
Hit
58
59
Jackpot
61
62
Hit
64
Miss
Hit
67
68
Hit
Miss
71
Hit
73
74
Jackpot
76
77
Hit
79
Miss
Hit
82
83
Hit
Miss
86
Hit
88
89
Jackpot
91
92
Hit
94
Miss
Hit
97
98
Hit
Miss

In [ ]:
# 16. Ask the user how many students are in a class. Then loop to enter each student’s name and save them to a list. Finally, print the list of students.
def collect_student_names():
    students = []
    try:
        count = int(input("How many students are in the class? "))
        for i in range(count):
            name = input(f"Enter name of student {i + 1}: ")
            students.append(name)
        print("\nList of students:")
        print(students)
    except ValueError:
        print("Please enter a valid number.")

# Run the function
collect_student_names()

How many students are in the class? 3
Enter name of student 1: Nicole
Enter name of student 2: Suzie
Enter name of student 3: Hope

List of students:
['Nicole', 'Suzie', 'Hope']