<a href="https://colab.research.google.com/github/nicole-kirimi/mini_tasks/blob/main/mini_dicts.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 1. Create a dictionary called student with:
# Keys: "name", "age", "grade"
# Values: "Alice", 14, "B"

student = {
    "name": "Alice",
    "age": 14,
    "grade": "B"
}

In [ ]:
# 1.1. Access and print the student's name from the dictionary.
print(student["name"])

Alice

In [ ]:
# 1.2. Change the student's grade to "A".
student["grade"] = "A"
print(student["grade"])

A

In [ ]:
# 1.3. Add a new key called "school" with the value "Greenwood High".
student["school"] = "Greenwood High"
print(student)

{'name': 'Alice', 'age': 14, 'grade': 'A', 'school': 'Greenwood High'}

In [ ]:
# 1.4. Delete the "age" key from the dictionary.
del student["age"]
print(student)

{'name': 'Alice', 'grade': 'A', 'school': 'Greenwood High'}

In [ ]:
# 2. Loop through the following dictionary and print each key and value:
person = {"name": "Bob", "age": 30, "city": "Nairobi"}
for key, value in person.items():
    print(f"{key}: {value}")

name: Bob
age: 30
city: Nairobi

In [ ]:
# 2.1. Loop through and print only the keys from the dictionary above.
for key in person.keys():
    print(key)

name
age
city

In [ ]:
# 2.2. Loop through and print only the values.
for value in person.values():
    print(value)

Bob
30
Nairobi

In [ ]:
# 2.3. Use .get() to retrieve the value of a key called "email" from person. If it doesnâ€™t exist, return "Not provided".
print(person.get("email", "Not provided"))

Not provided

In [ ]:
# 2.4. Check if the key "city" exists in the dictionary.
print("city" in person)

True

In [ ]:
# 2.5. Use .update() to add or modify multiple values:
# Update "city" to "Mombasa" and add "email": "bob@example.com"
person.update({"city": "Mombasa", "email": "bob@example.com"})
print(person)

{'name': 'Bob', 'age': 30, 'city': 'Mombasa', 'email': 'bob@example.com'}

In [ ]:
# 3. Create a list of 3 students, each represented as a dictionary:
# Each dictionary should have keys: "name", "age", "grade"
Students = [
    {"name": "Nicole",
     "age": 20,
     "grade": "80"
     },
    {"name": "Natalie",
     "age": 21,
     "grade": "85"
    }
]
print(Students)

[{'name': 'Nicole', 'age': 20, 'grade': '80'}, {'name': 'Natalie', 'age': 21, 'grade': '85'}]

In [ ]:
# 3.1. Loop through the list and print the name and grade of each student.
for student in Students:
    print(f"{student['name']} got {student['grade']}")

Nicole got 80
Natalie got 85

In [ ]:
# 3.2. Write a loop to calculate the average grade (assuming grades are numbers).
total_grade = 0
for student in Students:
    total_grade += int(student["grade"])
average_grade = total_grade / len(Students)
print(average_grade)

82.5

In [ ]:
# 4. Create a dictionary to count how many times each word appears in this list:
# Output should be:
# {"apple": 3, "banana": 2, "cherry": 1}
words = ["apple", "banana", "apple", "cherry", "banana", "apple"]
word_count = {}
for word in words:
    if word in word_count:
        word_count[word] += 1
    else:
        word_count[word] = 1
print(word_count)

{'apple': 3, 'banana': 2, 'cherry': 1}

In [ ]:
# 5. Build a simple phonebook:
# Ask the user to enter names and phone numbers
# Store them in a dictionary
# Allow the user to look up numbers by name
phonebook = {}
def add():
    name = input("Enter a name: ")
    phone = int(input("Enter a phone number: "))
    phonebook[name] = phone
    print("Added successfully!")

def search():
    name = input("Enter a name to search: ")
    print(phonebook.get(name, "Not found"))

def exit_app():
    print("Goodbye")

while True:
    option = input("What operation do you want(add, search or leave)?")
    if option == "add":
        add()
    elif option == "search":
        search()
    elif option == "leave":
        exit_app()
        break
    else:
        print("Invalid option")

What operation do you want(add, search or leave)?Mary
Invalid option
What operation do you want(add, search or leave)?add
Enter a name: Mary
Enter a phone number: 5678
Added successfully!
What operation do you want(add, search or leave)?search
Enter a name to search: Nicole
Not found
What operation do you want(add, search or leave)?search
Enter a name to search: Mary
5678
What operation do you want(add, search or leave)?leave
Goodbye